<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Main Page</title>
</head>
<body>
    <!-- {% if "registration" in request.POST %}
        <script>
            alert('{{ alert }}');
        </script>
    {% endif %} -->
    <!-- <div >
        {% if messages %}
            {% for message in messages %}
                {{ message.message }}
            {% endfor %}
        {% endif %}
    </div> -->
    <div class="container">
        <a href="/logout" class="float-right">Log Out</a>
        <h1>Success! Welcome, {{ user.first_name }}</h1>
        <p class="text-success">
            {% if messages %}
                {% for message in messages %}
                    {{ message.message }}
                {% endfor %}
            {% endif %}
        </p>
    </div>
</body>
</html>